<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Gestion oficina</h1>
        <nav>
            <a href="{% url 'oficina' %}">inicio</a>
            <a href="{% url 'formulario' %}">nueva oficina</a>
        </nav>
    </header>
    <main>
        <div>
            {% block contenido %} {% endblock %}
        </div>
    </main>
</body>
</html>