{% extends 'base.html' %}
{% block contenido %}
{% if oficina_list %}
<ul>
    <li>{{oficina_list.id}}</li>
    <li>{{oficina_list.ciudad}}</li>
    <li>{{oficina_list.calle}}</li>
    <li>{{oficina_list.numero}}</li>
    <li>{{oficina_list.abierta}}</li>
    <li>{{oficina_list.fecha_apertura}}</li>
</ul>
{% endif %}
{% if oficina_detail %}
<ul>
    {% for e in oficina_detail %}

    <li>
        {{e.nombre}}
    </li>
</ul>


{% endfor %}
{% else %}
<p>No hay oficinas creadas</p>
{% endif %}
<a href="{% url 'formularioEmpleado' %}">nuevo empleado</a>
{% endblock %}